import random

numero = random.randint(1,10)


print("Olá, qual seu nome?:")
nome = input()

print("Legal, "+ nome +"! Estou pensando em um número entre 1 e 10, tente adivinhar qual é!!")
adivinhar = input()
adivinhar = int(adivinhar)

if adivinhar == numero:
    print("Acertou.")

elif adivinhar != numero:
    numero = str(numero)
    print("Errou, o número que eu estava pensando era: "+ numero)
